:root {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply w-full h-full bg-slate-500 text-white font-bold;
}

#root {
  @apply w-full h-full;
}